<section class="control-tray">
  <canvas #renderCanvas style="display: none"></canvas>

  <nav class="actions-nav" [class.disabled]="!isConnected">
    <div class="action-button no-action outlined">
      <app-audio-pulse [volume]="inVolume" [active]="isConnected" [hover]="false" />
    </div>
    <ng-content></ng-content>
  </nav>

  <div class="connection-container" [class.connected]="isConnected">
    <div class="connection-button-container">
      <button #connectButton class="action-button connect-toggle" [class.connected]="isConnected"
        (click)="connectToggle()">
        <span class="material-symbols-outlined filled">
          {{isConnected ? 'pause' : 'play_arrow'}}
        </span>
      </button>
    </div>
    <span class="text-indicator">Streaming</span>
  </div>
</section>